@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito&family=Open+Sans&display=swap");
.App {
  text-align: center;
}

.appLoading {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

.appLoadingContent {
  text-align: center;
  font-family: Nunito;
  padding-bottom: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appLoadingContent > img {
  height: 200px;
  padding: 20px;
  margin-bottom: 50px;
}
