:root {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  --fire: #f08030;
  --grass: #78c850;
  --poison: #a040a0;
  --flying: #a890f0;
  --water: #6890f0;
  --bug: #a8b820;
  --normal: #a8a878;
  --electric: #f8d030;
  --ground: #e0c068;
  --fairy: #ee99ac;
  --fighting: #c03028;
  --psychic: #f85888;
  --rock: #b8a038;
  --steel: #b8b8d0;
  --ice: #98d8d8;
  --ghost: #705898;
  --dark: #705848;
  --dragon: #7038f8;
}

body {
  margin: 0;
  background-color: #093d70;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
